.link {
    color: inherit;
    line-height: normal;
    text-decoration: underline;

    &:hover,
    &:visited,
    &:active {
        color: $color-navy;
    }
    &:active {
        text-decoration: none;
    }

    // if flexbox parent, parent needs to have `align-items: stretch;`
    // see https://stackoverflow.com/a/41791009
    &--expand {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.button {
    @include scut-truncate;

    display: block;
    height: $height-control;
    width: auto;
    max-width: 100%;
    padding: 0 ($baseunit * 1.5);
    background-color: $color-navy;
    color: $color-white;
    border: 1px solid $color-navy;
    border-radius: $border-radius;
    font-weight: $font-weight-bold;
    line-height: $height-control;
    text-align: center;
    text-decoration: none;

    &:not(&--small) {
        @extend %large-text;
    }
    &--small {
        height: $height-control-small;
        line-height: $height-control-small;
    }
    &--secondary {
        &,
        &:hover,
        &:focus,
        &:active {
            background-color: $color-gold;
            color: $color-gray-dark-1;
            border-color: $color-gold-dark-1;
        }
    }
    &--outline,
    &--outline.button--secondary {
        &,
        &:hover,
        &:focus,
        &:active {
            background-color: $color-none;
            color: $color-navy;
            border-color: $color-navy-light-1;
        }
    }
}

.form {
    display: flex;
    flex-wrap: wrap;

    &--inline &__control {
        margin-left: 0;
    }
    &__item {
        position: relative;
        width: 100%;
        min-width: 0;
        margin-bottom: $baseunit;

        &:last-child {
            margin-bottom: 0;
        }

        @media (min-width: $media-width-landscape-medium-mobile) {
            &--half {
                width: 50%;
                padding-right: $offset-form-item-2 * 1.5;

                & + & {
                    padding-right: 0;
                    padding-left: $offset-form-item-2 * 1.5;
                }
            }
        }
    }
    &__text {
        @extend %small-text;

        display: block;
        margin-bottom: $baseunit * 0.5;
    }

    $search-control-padding: $baseunit * 3;
    &__control {
        width: calc(100% + #{$offset-form-item-1 * 2});
        margin-left: $offset-form-item-1 * -1;
        min-height: $height-control;
        padding: ($offset-form-item-1 * 1.5) $offset-form-item-1;
        border: 1px solid $color-seafoam-dark-2;
        border-radius: $border-radius;

        &--search {
            padding-right: $search-control-padding;
            background-image: url('#{$path-base-styles}/base-assets/images/icon-search.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center right;
        }

        &:hover,
        &:focus,
        &:active {
            border-color: $color-seafoam-dark-3;
        }

        @media (min-width: $media-width-tablet) {
            width: calc(100% + #{$offset-form-item-2 * 2});
            margin-left: $offset-form-item-2 * -1;
            padding: $offset-form-item-2;
        }
    }

    // to be applied to wrapper `div` around control element
    // displays button in upper right corner of control that can be used to clear control contents
    // need to change markup in this way because inputs controls cannot contain pseudoelements
    // see https://stackoverflow.com/a/4660434
    &__clear-control {
        position: relative;

        &__clear {
            display: none;
            position: absolute;
            top: 0;
            right: $offset-form-item-1 * -1;
            height: $height-control;
            width: $height-control;

            background-image: url('#{$path-base-styles}/base-assets/images/icon-close.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

            @media (min-width: $media-width-tablet) {
                right: $offset-form-item-2 * -1;
            }
        }
    }
    // animate width changes as button is added/removed
    &__clear-control &__control {
        transition: all 0.05s;
    }
    // styling for when the control button should become visible
    &__clear-control--visible &__clear-control__clear {
        display: block;
    }
    &__clear-control--visible &__control {
        padding-right: $height-control + $offset-form-item-1;

        @media (min-width: $media-width-tablet) {
            padding-right: $height-control + $offset-form-item-2;
        }
    }
    &__clear-control--visible &__control--search {
        padding-right: $height-control + $search-control-padding;
        background-position: center right $height-control;
    }
    // no prior sibling CSS selector exists so the clear button must be AFTER the input
    // see https://stackoverflow.com/a/1817801
    &__clear-control--visible &__control ~ &__clear-control__clear {
        border-left: 1px solid $color-seafoam-dark-2;
    }
    // if resizable textarea, then fix button to top right corner with rounded edge
    &__clear-control--visible textarea ~ &__clear-control__clear {
        border-bottom: 1px solid $color-seafoam-dark-2;
        border-bottom-left-radius: $border-radius;
    }
}
