.button-container {
    & &__button {
        width: 100%;

        & + & {
            margin-top: $baseunit * 0.5;
        }
    }

    @media (min-width: $media-width-landscape-small-mobile) {
        // ensure that buttons stay on same line
        display: flex;

        & &__button {
            width: auto;

            & + & {
                margin-top: 0;
                margin-left: $baseunit * 0.5;
            }
        }
        &--expand-width &__button {
            width: 100%;
        }
    }
}

.list {
    padding-left: $baseunit * 2;

    &--unstyled {
        @include scut-list-unstyled;

        padding-left: 0;
    }
}

.tag {
    @include scut_truncate;

    display: inline-block;
    padding: ($baseunit * 0.1) ($baseunit * 0.5) ($baseunit * 0.15);
    color: $color-gray;
    border: 1px solid $color-seafoam-dark-2;
    border-radius: $border-radius;

    & + & {
        margin-left: $baseunit * 0.2;
    }

    &--notable {
        border-color: $color-navy-light-1;
        background-color: $color-navy-light-2;
    }
}
