.margin-b {
    &-1,
    &-1:last-of-type {
        margin-bottom: $baseunit;
    }
    &-2,
    &-2:last-of-type {
        margin-bottom: $baseunit * 2;
    }
    &-3,
    &-3:last-of-type {
        margin-bottom: $baseunit * 3;
    }
}
.margin-t-2 {
    margin-top: $baseunit * 2;
}
.margin-r-1 {
    margin-right: $baseunit;
}

.text-center {
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.sr-only {
    @include scut-hide-visually;
}
